#app-navbar {
    padding: 10px !important;
}

#app-container {
    /* background-color: lightcoral; */
    height: calc(100vh - 60px);
}

#app-container > .row, #app-container > .row > div {
    height: 100%;
    margin: 0px;
}

#app-filtres-container {
    /* background-color: lightblue; */
    border-right: 1px solid lightslategray;
    padding: 15px;
}

#titre-filtres {
    font-size: 28px;
}

#titre-filtres-container {
    border-bottom: 1px solid lightgray;
}

#icon-filtre {
    font-size: 16px;
}

#app-contenu-container {
    /* background-color: lightgreen; */
    overflow: scroll;
    padding: 15px;
}
