#images-container {
    display: flex;
    flex-wrap: wrap;
}

#images-container > .img-thumbnail {
    display: flex;
    height: 200px;
    margin-bottom: 15px;
    margin-right: 15px;
    width: 200px;
}

#images-container > .img-thumbnail > img {
    display: block;
    margin: auto;
    width: 100%;
}

#images-container > .img-thumbnail:hover {
    border-color: #80bdff;
    box-shadow: 0 0 0 .1rem rgba(0,123,255,.25);
    cursor: pointer;
}

#images-container > .img-thumbnail:active {
    transform: translateY(4px);
}

.modal-details-image-body img {
    width: 100%;
}
